<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tit1le</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    {{form.name}}
    {{form.gender}}
    {{form.phone}}
    {{form.age}}
    {{form.spec}}
    {{form.type_of_employments}}
    {{form.experience}}
    {{form.adres}}
    {{form.skills}}
    <button type="submit">
        Получить работу мечты
    </button>
</form>
{% for el in resume %}
{{el.id}}
{{el.name}}
{{el.phone}}
{{el.spec}}
{{el.adres}}
<br>
{%endfor%}
</body>
</html>